<div>
  <h3>Order Management System</h3>
  <label for="item.name">Item Name </label>
  <input [(ngModel)]="item.name">
  <label for="item.price">Item Price </label>
  <input [(ngModel)] ="item.price">
  <label for="item.quantity">Item Quantity </label>
  <input [(ngModel)]="item.quantity">
  <input type="radio" name="choose" value="Discounted   " [(ngModel)]="item.choose">Discounted  
  <input type="radio" name="choose" value="New Arrival" [(ngModel)]="item.choose">New Arrival
  <button (click)="save()">Evaluate</button>

  <ol>
    <table>
    <li *ngFor = 'let item of orders; let i= index'>{{item.name}}, {{item.price}}, {{item.quantity}}, {{item.total}}, {{item.choose}}
    <button (click)="deleteUser(item, i)">Delete</button>
    </li>
    </table>
  </ol>
</div>